<!-- <br>
<br>
<br> -->
  
<div  style="margin-top:13%; " class="container">
    <div class=" table-responsive">

        <table class="table table-striped custom-table">
          <thead style="font: 400 24px/32px Roboto,Helvetica Neue, sans-serif;
          letter-spacing: normal;
          margin: 0 0 16px;">
            <tr style="font: 400 24px/32px Roboto,Helvetica Neue, sans-serif;
            letter-spacing: normal;
            margin: 0 0 16px;">
            
            <th scope="col">id</th>
            <th scope="col">Customer email</th>
            <th scope="col">Customer name</th>
            <th scope="col">address</th>
            <th scope="col">city</th>
            <th scope="col">phone</th>
            <th scope="col">postCode</th>
            <th scope="col"> Actions</th>
                <th>
                    <div class="float-right"> <button type="button" class="btn btn-primary " (click)="open()"
                      >Create New Customer</button></div></th>
             </tr>
          </thead>
          <tbody>
            <tr *ngFor="let customer of customers">
                <td>
                  {{customer.customer_id}}
                </td>
                <td>
                  {{customer.customer_email}}
                </td>
                <td>
                    {{customer.customer_first_name}} {{customer.customer_last_name}}
                </td>
                <td>
                 {{customer.address}}
              </td>
              <td>
               {{customer.city}}
              </td>
              <td>
                {{customer.phone}}
              </td>
              <td>
                {{customer.postcode}}
              </td>
              <td ><button (click)="deleteCustomer(customer.customer_id)" class="btn btn-danger w-100">
                Delete
              </button>
              </td>
              <td>
               <button (click)="openEdit(customer.customer_id)" class="btn btn-primary w-50">Edit</button>
            </td>
              </tr>
          </tbody>
          </table>
        </div>
</div>
<!-- <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New Question Bank</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="productForm" (ngSubmit)="createProduct()" >
        <div class="form-group">
          <label for="firstname">Question Bank Name </label>
          <div class="input-group">
            <input formControlName="QuestionBankName" class="form-control" >
          </div>
          <div class="input-group modal-footer">
            <button class="btn btn-primary btn-lg text-light btn-block" type="submit" (click)="modal.dismiss('Cross click')">Create</button>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </ng-template> -->
  
